*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #3D087B;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    margin: 6px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    padding: 10px;
}
.left_container{
    width: 550px;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 15px;
}
.right_container{
    width: 550px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.box{
    border-radius: 7px;
    width: 100%;
    height: 95px;
    background-color: white;
}
.clock{
    align-self: flex-start;
}
.timer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: arial;
    position: absolute;
    z-index: 3;
}
.name{
    color:rgb(110, 52, 164);
    font-weight: 600;
    font-size: 25px;
}
.time{
    width: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: rgb(166, 12, 166);
    font-weight: 500;
    font-size: 20px;
}

.hh,.mm,.ss,.am{
    background-image: url(./images/bg1.png);
    width: 60px;
    height: 65px;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.am{
    background-image: url(./images/bg2.png);
    color: white;
}
.parent_clock{
    position: relative;
    height: 130px;
}
.box1{
    width: 70%;
    position: absolute;
    left: 50%;
    top: 47%;
    transform: translate(-50%,-50%);
    border-radius: 13px;
    opacity: .8;
}
.box2{
    width: 60%;
    position: absolute;
    left: 50%;
    top: 56%;
    transform: translate(-50%,-50%);
    border-radius: 15px;
    opacity: .4;
}
.set_timer{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: flex-start;
}
.routine{
    width: 100%;
    height: 3%;
    font-size: 15px;
    display: flex;
    justify-content: space-around;
    padding: 0px 10px;
    align-items: center;
    color: rgb(104, 29, 174);
}
.head{
    width: 50%;
    display: flex;
    align-items: center;
    gap: 30px;
}
.line{
    height: 30px;
    width: 0.1px;
    border: 1px solid grey;
    border-radius: 3px;
    margin: 0px 26px;
    opacity: 0.4;
}
select{
    width: 50%;
    height: 25px;
    border: 1px solid rgb(230, 228, 228);
    border-radius: 3px;
}
.msg1{
    background-color: white;
    font-family: fantasy;
    font-size: 30px;
    color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.photo{
    width: 100%;
}
.msg2{
    background-color: rgb(254, 254, 254, 0.23);
    font-family: fantasy;
    font-size: 30px;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.left_child{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 10px;
}
.button{
    width: 323px;
    height: 70px;
    background: linear-gradient(113deg, #6E54EC 0%, #CB52F8 40%, #FC5EFF 81%, #F1A7C5 100%);
    color: rgb(255, 255, 255);
    font-size: 23px;
    font-weight: 500;
    font-family: arial;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button:hover{
    cursor: pointer;
}
.info{
    width: 215px;
    border-radius: 7px;
    background-color: rgb(254, 254, 254, 0.23);
    padding: 8px 10px;
    color: rgb(255, 0, 255);
    font-family: arial;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
}
@media screen and (max-width:600px){
    .left_container{
        width: 100%;
    }
    .name{
        font-size: 15px;
    }
    .head{
        gap: 15px;
    }
    .msg2{
        font-size: 23px;
    }
    .left_child{
        justify-content: center;
    }
    .button{
        width: 90%;
    }
    .info{
        width: 100%;
    }
    .right_container{
        width: 100%;
    }
    .msg1{
        font-size: 23px;
    }
}